@require "helpers/normalize"
@require "helpers/variables"
@require "helpers/mixins"

html
body
	width 100%;
	height 100%;

body
	overflow hidden // temporary solution, figure out why horizontal scroll is visible
	font-family Helvetica, Arial, sans-serif;
	background rgba(0, 0, 0, .8)

#application-container
	height 100%

[role="main"]
	height 100%
	width 100%
	display flex
	justify-content center
	align-items center
	color #fff

.copyright
	cover-parent()
	display flex
	align-items center
	justify-content center
	font-size 200px
	font-weight bold
	font-family "Arial Black"
	pointer-events none
	color rgba(0, 0, 0, .035)
	line-height 185px
	padding-bottom 60px
	z-index -1
	flex-direction column
	// display none

.label-title
	font-size 22px
	height 60px
	line-height 30px
